.input_width {
  width: 100%;
}
.image_right {
  margin-right: 10px;
}
.custom_sidebar {
  width:400px;
  margin-top:50px;
  margin-left:55px;
}
.form-inline .form-control {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}
.price-color-latest {
  color: green;
}
.price-color-latest::before {
  content: "PKR ";
}
.inline-elements {
  display: inline-block;
  width: 46%;
}
.title-color-latest {
  color: blue;
}
.form-actions .btn, .form-actions .btn-group {
  margin-right: 10px;
  margin-top: 10px;
}
.form-inline .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  margin-top: 10px;
}
.form-item-field-price-value-max label {
  visibility: hidden;
}
.form-item-field-year-value-max label {
  visibility: hidden;
}
.views-field-field-name .field-content {
  background-color: black;
  color: white;
  padding-left: 20px;
  font-size: 20px;
  width: 92%;
}
.views-field-field-job-title .field-content {
  background-color: black;
  color: white;
  width: 92%;
  padding-left: 20px;
  margin-right: 10%;
  margin-bottom: 10px;
  height: 32px;
}
.views-field-field-description .field-content {
  display: none;
}
#webform-submission-contact-form-node-21-add-form #edit-name--wrapper {
  display: inline-block;
  width: 49%;
}
#webform-submission-contact-form-node-21-add-form .form-item-email {
  display: inline-block;
  width: 50%;
}
#block-views-block-contact-info-block-1 h2 {
  display: none;
}
#block-views-block-contact-info-block-1 .field--label {
  color: red;
}
#block-views-block-contact-info-block-1 .field--item {
  margin-top: 5px;
  margin-bottom: 5px;
}
#search-block-form button {
  display: none;
}
#search-block-form input {
  margin-left: 10px;
  margin-top: 3%;
  border-radius: 20px;
}
#views-exposed-form-search-car-ads-page-1 button {
  display: none;
}
#views-exposed-form-search-car-ads-page-1 input {
  border-radius: 10px;
  margin-top: -3px;
  width: 70%;
  margin-left: 5px;
}
.comment-forbidden {
  display: none !important;
}
mark {
  display: none;
}
.car-ad .js-comment .field--label {
  display: none;
}
.article .js-comment .field--label {
  display: none;
}
.car-ad .js-comment .field--item {
  margin-bottom: 5px;
}
.car-ad .js-comment .permalink {
  display: none;
}
.article .js-comment .links .comment-reply {
  display: none;
}
#edit-comment-body-0-format {
  display: none;
}
.links .comment-add {
  display: none;
}
.js-form-item-field-make-value {
  width: 44%;
}
.js-form-item-field-model-value {
  width: 46%;
}
.form-item-title {
  width: 63%;
}
.view-compare-right-side-car .view-content .views-view-grid .views-row .views-col {
  width: 100% !important;
}
.view-duplicate-of-compare-left-side-car .view-content .views-view-grid .views-row .views-col {
  width: 100% !important;
}
.view-compare-right-side-car .views-field-title {
  font-size: 20px;
}
.view-compare-right-side-car .views-field-field-price {
  font-size: 20px;
}
.view-compare-right-side-car .field-content {
  font-size: 20px;
}
.view-duplicate-of-compare-left-side-car .views-field-field-price {
  font-size: 20px;
}
.view-duplicate-of-compare-left-side-car .views-field-title {
  font-size: 20px;
}
.view-duplicate-of-compare-left-side-car .field-content {
  font-size: 20px;
}
#block-views-block-duplicate-of-compare-left-side-car-block-1 .price-color-latest {
  display: inline-block;
}
#block-views-block-duplicate-of-compare-left-side-car-block-1 .field-content {
  display: inline-block;
}
#block-views-block-duplicate-of-compare-left-side-car-block-1 .views-label {
  font-size: 20px;
}
#block-views-block-compare-right-side-car-block-1 .price-color-latest {
  display: inline-block;
}
#block-views-block-compare-right-side-car-block-1 .field-content {
  display: inline-block;
}
#block-views-block-compare-right-side-car-block-1 .views-label {
  font-size: 20px;
}
#block-views-block-compare-right-side-car-block-1 .views-field {
  margin-top: 10px;
}
#block-views-block-duplicate-of-compare-left-side-car-block-1 .views-field {
  margin-top: 10px;
}
#block-views-block-compare-right-side-car-block-1 .form-submit {
  margin-top: 20px;
}
#block-views-block-duplicate-of-compare-left-side-car-block-1 .form-submit {
  margin-top: 20px;
}
.con_present::after {
  content: "You can view this result on other side";
}